/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #f1b2ce;
  --text-color-heading: var(--bg-color);
  --accent-color: #ff0070;
  --accent-color-text-heading: #ff0070;
  --main-title-color: #ff0070;
  --heading-logo: #db00ff;
  --text-heading-color: var(--bg-heading-color);
  --bg-color: #000028;
  --bg-image: url(/images/cover-image-dark.png);
  --accent-color-button: rgb(255 0 112 / 0.4);
}
