@font-face {
  font-family: 'IBM Plex mono';
  src: url(./fonts/IBMPlexMono-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url(./fonts/IBMPlexMono-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
