/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --accent-color-text-heading: #ff8dcb;
  --heading-logo: #ffc2e6;
  --main-title-color: #353430;
  --accent-color-button: rgb(50 49 45 / 0.4);
  --text-heading-color: var(--text-color);
  --text-color-heading: var(--text-color);
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --accent-color-text-heading: #ff8dcb;
    --heading-logo: #ffc2e6;
    --main-title-color: #353430;
    --accent-color-button: rgb(50 49 45 / 0.4);
    --text-color-heading: var(--text-color);
    --text-heading-color: var(--text-color);
  }

  .header__rec {
    display: none;
  }
}
