/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --heading-logo: #ffc2e6;
  --main-title-color: #353430;
}

@media (prefers-color-scheme: light) {

  :root {
    --text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --heading-logo: #ffc2e6;
    --main-title-color: #353430;
  }

  .header__rec {
    display: none;
  }

  .decorated-zone::after {
    border-right: 1px solid #353430;
    border-top: 1px solid #353430;
  }

  .decorated-zone::before {
    border-right: 1px solid #353430;
    border-top: 1px solid #353430;
  }
}

.theme_light .header__rec {
  display: none;
}

.theme_light .decorated-zone::after {
  content: '';
  block-size: 25px; /* высота */
  inline-size: 25px; /* ширина */
  border-right: 1px solid #353430;
  border-top: 1px solid #353430;
  position: absolute;
  top: var(--main-padding);
  right: var(--main-padding);
  z-index: 1;
}

.theme_light .decorated-zone::before {
  content: '';
  block-size: 25px; /* высота */
  inline-size: 25px; /* ширина */
  border-left: 1px solid #353430;
  border-bottom: 1px solid #353430;
  position: absolute;
  left: var(--main-padding);
  bottom: var(--main-padding);
  z-index: 1;
}

.theme_light .decorated-zone__footer::after {
  content: '';
  block-size: 25px; /* высота */
  inline-size: 25px; /* ширина */
  border-right: 1px solid #353430;
  border-top: 1px solid #353430;
  position: absolute;
  top: var(--main-padding);
  right: var(--main-padding);
  z-index: 1;
}

.theme_light .decorated-zone__footer::before {
  content: '';
  block-size: 25px; /* высота */
  inline-size: 25px; /* ширина */
  border-left: 1px solid #353430;
  border-bottom: 1px solid #353430;
  position: absolute;
  left: var(--main-padding);
  bottom: var(--main-padding);
  z-index: 1;
}
